<nav>
	<a href="index.html" class="brand">
		<img class="logo" src="photos/1.jpg" />
		<span>ММC klima</span>
	</a>

	<!-- responsive-->
	<input id="bmenub" type="checkbox" class="show">
	<label for="bmenub" class="burger pseudo button">menu</label>

	<div class="menu">
		{% if page.title != "MMC" %}
		  <a href="index.html" class="pseudo button icon-picture">Начало</a>
		{% endif %}
		
		<a href="климатици.html" class="pseudo button icon-picture">Климатици</a>
		<a href="врати.html" class="button icon-puzzle">Врати</a>
		<a href="шориИдограма.html" class="pseudo button icon-picture">Щори и Дограма</a>
	</div>
</nav>